'use strict';

var utils = require('../utils/writer.js');
{{#operations}}
var {{className}} = require('../{{implementation}}/{{className}}');
{{#operation}}

module.exports.{{operationName}} = function {{operationName}} (req, res, next) {
  {{#allParams}}
  var {{paramName}} = req.swagger.params['{{baseName}}'].value;
  {{/allParams}}
  {{className}}.{{operationName}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
    .then(function (response) {
      utils.writeJson(res, response);
    }, function (error) {
      utils.writeError(res, error);
    })
    .catch(function (error) {
      utils.writeError(res, {
        code: 'InnerHandlerThrownException',
        message: error
      });
    });
};
{{/operation}}
{{/operations}}
