{
  "name": "{{projectBundle}}",
  "version": "{{projectVersion}}",
  "description": "{{{projectDescription}}}",
  "scripts": {
    "deploy": "node deploy.js"
  },
  "license": "MIT",
  "private": true,
  "dependencies": {
  },
  "devDependencies": {
    "aws-sdk": "^2.592.0",
    "case": "^1.5.4",
    "simplify-sdk": ">=0.1.1"
  }
}