# AWS Lambda in (Express/NodeJS/Javascript)

```
    "requestContext": {
        "resourceId": "ooxxoo",
        "resourcePath": "/pets",
        "httpMethod": "GET",
        "requestTimeEpoch": 1588245466037,
        "requestId": "a3511f5e-98ab-4570-baec-cd02d65e5ecb",
        "identity": {
            "cognitoIdentityPoolId": "us-east-1:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
            "cognitoIdentityId": "us-east-1:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
            "caller": "XXXXXXXXXXXXXXXXXXXX:CognitoIdentityCredentials",
            "accessKey": "XXXXXXXXXXXXXXXXXXX",
            "cognitoAuthenticationType": "unauthenticated",
            "cognitoAuthenticationProvider": null,
            "userArn": "arn:aws:sts::560617725743:assumed-role/PetAPIAccessRole/CognitoIdentityCredentials",
            "userAgent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "user": "XXXXXXXXXXXXXXXXXXXX:CognitoIdentityCredentials"
        }
    }
```