### Simplify Deployment Guideline

### Create infrastructure and default functions
`npm install && npm run deploy-{{deploymentNamePosix}}`

### Push functions code to the created infrastructure
`npm run code-push`

