{
    "Profile": "{{deploymentProfile}}",
    "Region": "{{deploymentRegion}}",
    "CognitoUserPoolId": "eu-central-1_xxxxxxxxxx",
    "Bucket": {
        "Name": "{{apiNamePosix}}",
        "Key": "cloudformations/stacks"
    },
    "OutputFile": "${PWD}/${DATE_TODAY}/api-meta.json",
    "Deployment": {
        "Name": "{{deploymentName}}",
        "Stacks": {
            "ApiGateway": "api-gateway.yaml",
            "ManagedResourceStack": "DatabaseStack"
        },
        "Functions": {
            {{#services}}
            "{{serviceName}}": {
                "FunctionInput": "./{{serviceName}}/function-input.json",
                "DynamoDBTable": "{{serviceTableOrigin}}"{{#servicePolicyOrigin}},
                "ResourcePolicyArn": "{{servicePolicyOrigin}}"{{/servicePolicyOrigin}}
            }{{#hasMore}}, {{/hasMore}}
            {{/services}}
        },
        "SecretManagers": {
            "{{apiName}}Secret": {}
        }
    }
}