'use strict';

var utils = require('../utils/writer.js');

var {{className}} = require('../{{implementation}}/{{className}}');

/**
 {{#summary}}
 * {{{summary}}}
 {{/summary}}
 {{#notes}}
 * {{{notes}}}
 {{/notes}} 
 * curl -X {{httpMethod}} http://localhost:{{serverPort}}{{path}}
{{#allParams}}
 * - {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
{{/allParams}}
{{^returnType}}
 * no response value expected for this operation
{{/returnType}}
{{#returnType}}
 * returns {{{returnType}}}
{{/returnType}}
 **/

module.exports = function (req, res, next) {
  {{#allParams}}
  var {{paramName}} = req.swagger.params['{{baseName}}'].value;
  {{/allParams}}
  {{className}}.{{operationId}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
    .then(function (response) {
      utils.writeJson(res, response);
    }, function (error) {
      utils.writeError(res, error);
    })
    .catch(function (error) {
      utils.writeError(res, {
        code: 'InnerHandlerThrownException',
        message: error
      });
    });
};