version: '3.3'
services:
  {{#services}}
  {{#service}}
  {{serviceName}}:
    build:
      context: ./{{serviceName}}/
    environment:
      - LOG_LEVEL=info    
    restart: always
  {{/service}}
  {{/services}}
  {{projectBundle}}:
    image: nginx
    ports:
      - 3000:80
    restart: always