version: '3.3'
services:
  {{#services}}  
  {{serviceName}}:
    build:
      context: ./{{serviceName}}/
    environment:
      - LOG_LEVEL=info    
    restart: always  
  {{/services}}
  {{projectBundle}}:
    image: nginx
    ports:
      - 3000:80
    restart: always