version: '3.3'
services:
  {{#services}}  
  {{serviceNamePosix}}:
    build:
      context: ./{{serviceName}}/    
    environment:
      - LOG_LEVEL=info
    restart: always
  {{/services}}
  {{apiNamePosix}}:
    image: nginx
    ports:
      - 80:8080
    volumes:
      - ./api-gateway.conf:/etc/nginx/conf.d/api-gateway.conf
    restart: always
    depends_on:
    {{#services}}
    - {{serviceNamePosix}}
    {{/services}}