{
  "name": "{{projectBundle}}",
  "version": "{{appVersion}}",
  "description": "{{{appDescription}}}",
  "main": "app.js",
  "scripts": {
    "build": "nyc --reporter=html mocha --reporter mocha-simple-html-reporter --reporter-options output=index.html --timeout 60000 \"./tests/**/*.spec.js*\"",
    "start": "node app.js",
    "test": "nyc --reporter=text mocha --timeout 60000 \"./tests/**/*.spec.js*\"",
    "test-default": "nyc --reporter=text mocha --timeout 60000 \"./tests/default/*.spec.js*\"",
    "coverage": "nyc report --reporter=text-lcov | coveralls"
  },
  "keywords": [
    "swagger"
  ],
  "nyc": {
    "exclude": [
      "**/*.spec.js",
      "**/*.env.js"
    ]
  },
  "license": "MIT",
  "private": true,
  "dependencies": {
    "aws-sdk": "^2.573.0",
    "aws-serverless-express": "^3.3.5",
    "body-parser": "^1.19.0",
    "express": "^4.17.1",
    {{#extraDependancies}}
    "{{package}}": "{{version}}",
    {{/extraDependancies}}
    "swagger-express-middleware": "^2.0.5"
  },
  "devDependencies": {
    "chai": "^4.2.0",
    "chai-as-promised": "^7.1.1",
    "mocha-simple-html-reporter": "^1.1.0",
    "mocha": "^7.0.1",
    "nyc": "^15.0.0",
    "rewire": "^4.0.1",
    "coveralls": "^3.0.9"
  }
}
