'use strict';
{{#operations}}
{{#listObjects}}
var listObjects = require('../utils/list-objects');
{{/listObjects}}
{{#createObject}}
var createObject = require('../utils/create-object');
{{/createObject}}
{{#updateObject}}
var updateObject = require('../utils/update-object');
{{/updateObject}}
{{#getObject}}
var getObject = require('../utils/get-object');
{{/getObject}}
/**
 {{#summary}}
 * {{{summary}}}
 {{/summary}}
 {{#notes}}
 * {{{notes}}}
 {{/notes}}
 * curl -X {{httpMethod}} http://localhost:{{serverPort}}{{path}}
{{#allParams}}
 * - {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
{{/allParams}}
{{^returnType}}
 * no response value expected for this operation
{{/returnType}}
{{#returnType}}
 * returns {{{returnType}}}
{{/returnType}}
 **/
exports.{{{operationId}}} = function({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
  {{#listObjects}}
  return listObjects['{{listObjects}}']({{listObjectsFrom}});
  {{/listObjects}}
  {{^listObjects}}
  {{#createObject}}
  return createObject['{{createObject}}'](body.{{createObjectName}}, body.{{createObjectData}});
  {{/createObject}}
  {{^createObject}}
  {{#updateObject}}
  return updateObject['{{updateObject}}'](body.{{updateObjectName}}, [{{#updateObjectFields}}'{{value}}'{{#hasMore}}, {{/hasMore}}{{/updateObjectFields}}], body.{{updateObjectData}});
  {{/updateObject}}
  {{^updateObject}}
  {{#getObject}}
  return getObject['{{getObject}}']({{getObjectName}}, [{{#getObjectFields}}'{{value}}'{{#hasMore}}, {{/hasMore}}{{/getObjectFields}}]);
  {{/getObject}}
  {{^getObject}}
  return new Promise(function(resolve, reject) {  
    reject({
      "code": "ErrorOperationNotImplemetedException",
      "message": "The '{{{operationId}}}' was not Implemented. [TODO: Imprement your service calls here]"
    });  
  });
  {{/getObject}}
  {{/updateObject}}  
  {{/createObject}}
  {{/listObjects}}
}

{{/operations}}