var chai = require('chai');
var rewire = require('rewire');
var chaiAsPromised = require('chai-as-promised');
chai.use(chaiAsPromised).should();

{{#operations}}
const {{className}}Service = rewire('../../../{{apiName}}/{{serviceName}}/{{implementation}}/{{className}}');

describe('({{implementation}}) {{className}}:', function () {
    before('Prepare for {{className}} test specs', function () {});
{{#operation}}

    it('Should be rejected with ErrorOperationNotImplemetedException when calling {{{operationId}}}', function () {
        return {{className}}Service.{{{operationId}}}('{{#allParams}}{{paramName}}{{#hasMore}}', '{{/hasMore}}{{/allParams}}').should.eventually.rejected;
    });

{{/operation}}
    after('Cleanup {{className}} test specs', function () {});
});
{{/operations}}