
sonar.host.url=http://localhost:9000
sonar.login=admin
sonar.password=admin
sonar.language=js
sonar.projectKey={{serviceName}}Key
sonar.projectName={{serviceName}}
sonar.sourceEncoding=UTF-8
sonar.sources=./src
sonar.tests=
