'use strict';
var AWS = require('aws-sdk');
var s3 = new AWS.S3();
if (process.env.LOCAL_DEBUG) {
  var credentials = new AWS.SharedIniFileCredentials({ profile: process.env.AWS_PROFILE })
  AWS.config.credentials = credentials;
}

module.exports = {
  'aws-s3': function (bucket, fields, payload) {
    var parts = bucket.split('/')
    bucket = parts.shift()
    var key = parts.join('/')
    var params = {
      Bucket: bucket,
      Key: key
    };
    return new Promise(function (resolve, reject) {
      s3.getObject(params, function (err, data) {
        if (err) {
          reject({
            "code": "ErrorOperationNotSatifiedException",
            "message": "Cannot list buckets due to error",
            "error": err
          });
        }
        else {          
          var updatedPayload = JSON.parse(data.Body)          
          fields.forEach(field => {
            updatedPayload[field] = payload[field]
          })          
          params.Body = Buffer.from(JSON.stringify(updatedPayload))
          s3.putObject(params, function (err, data) {
            if (err) {
              reject({
                "code": "ErrorOperationNotSatifiedException",
                "message": "Cannot list buckets due to error",
                "error": err
              });
            }
            else {
              resolve({ data: updatedPayload })
            }
          });
        }
      });
    });
  }
}