exports.writeJson = function (response, payload, code ) {
  response.writeHead(code || 200, {'Content-Type': 'application/json'});
  response.end(JSON.stringify(Object.assign({
    metadata: {
      name: "{{serviceName}}",
      version: "{{serviceVersion}}"
    }
  }, payload)));
}

exports.writeError = function (response, error, code) {
  response.writeHead(code || 403, {'Content-Type': 'application/json'});
  response.end(JSON.stringify(error));
}
