var chai = require('chai');
var rewire = require('rewire');
var chaiAsPromised = require('chai-as-promised');
chai.use(chaiAsPromised).should();

{{#operations}}
const ServiceProviderName = 'demo';
const {{classname}}Provider = rewire('../providers/' + ServiceProviderName + '/{{classname}}Provider');

describe('(' + ServiceProviderName + ') {{classname}}:', function () {
    before('Prepare for {{classname}} test specs', function () {});
{{#operation}}

    it('Should be rejected with ErrorOperationNotImplemetedException when calling {{{operationId}}}', function () {
        return {{classname}}Provider.{{{operationId}}}('{{#allParams}}{{paramName}}{{#hasMore}}', '{{/hasMore}}{{/allParams}}').should.eventually.rejected;
    });

{{/operation}}
    after('Cleanup {{classname}} test specs', function () {});
});
{{/operations}}
